
.login-button {
  text-align: center;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid transparent;
  background-color: #3897f0;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 2rem;
}

.separator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #8e8f8f;
  margin-bottom:1em;
}

.line {
  display: block;
  position: relative;
  height: 1px;
  width: 50%;
  background-color: rgb(var(--ig-separator));
}

.other {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom:0;
}
.log{
  margin-left:5px;
  font-size:18px;
}
.icon-login-btn {
  margin: 1rem;
  border: 0;
  cursor: pointer;
  font-size: large;
  color: #385185;
  font-weight: 600;
  background: transparent;
}

.signup {
  color: #3897f0;
  font-weight: 600;
}

input::placeholder {
  visibility: hidden;
}
