.headerLogo{
    display: flex;
    align-items: center;
}
img{
    object-fit: contain;
    width: 100%;
}
.headerRight{
    display: flex;
    align-items: center;
}
.Container{
  height: 50px;
    background-color:#ffffffff;
}
#light{
    background-color: #f3ebf6;
}
#dark{
    background-color: black;
}