.category-inner-circle {
  width: 60px;
  height: 60px;
  background-color: cornflowerblue;
  border-radius: 50%;
  border: 0.5px solid white;
}
.category-outer-circle {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-image: linear-gradient(
    253.4deg,
    rgba(64, 93, 230, 0.8) 31.1%,
    rgba(147, 60, 219, 0.79) 51.28%,
    rgba(193, 53, 132, 0.81) 69.63%,
    rgba(253, 29, 29, 0.83) 86.15%
  );
}
.outer {
  border: 1px solid black;
}
