.css

body {
    font-family: sans-serif;
    background-color: #fafafa;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }
  #username{
    padding-left : 0.78em;
    font-size: 13px;
  }
  #password{
    padding-left:  1em;
  }

  form{
  margin-top:1rem;
  }
  .container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    font-size: 14px;
    
  }
  .c1{
    padding-top: 2rem;
  }
  .c2{
    padding-top: 0.7rem;
  }
  .b1{
    height:4rem;
    padding: 10px 0;

  }
  .box {
    /* margin: 10em 0 0; */
    max-width: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    margin: 0 0 10px;
    flex-grow: 1;
  }
  .upper{
    height:26rem;
    padding: 0 0;
  }
  .upperr {
    height: 40rem;
    padding: 0 0;
  }
  .h1{
    margin: 22px auto 12px;
  }
  .h2{
    margin: 0px 0 0.5rem;
  }
  .heading {
    
    background-image: url("https://www.instagram.com/static/bundles/es6/sprite_core_b20f2a3cd7e4.png/b20f2a3cd7e4.png");
    background-position: -98px 0;
    height: 51px;
    width: 177px;
    overflow: hidden;
  }
  
  .field {
    margin: 6px 0;
    position: relative;
    font-size: 14px;
    width: 100%;
    text-overflow: ellipsis;
  }
  
  input {
    font-size: 10px;
    width: 17rem;
    height: 2.5rem;
    outline: none;
    background: #fafafa;
    border-radius: 3px;
    border: 1px solid lightgray;
  }
  
  
  label {
    position: absolute;
    pointer-events: none;
    left: 10px;
    padding-bottom: 15px;
    transform: translateY(10px);
    line-height: 6px;
    transition: all ease-out 0.1s;
    font-size: 12px;
    color: gray;
    padding-top: 6px;
    font-weight: 450;
  }
  
  
  input::placeholder {
    visibility: hidden;
  }

  .login-form ::-moz-placeholder {
    color: transparent;
  }
  
  input:not(:placeholder-shown) + label {
    transform: translateY(0);
    font-size: 11px;
  }
  
  input:not(:placeholder-shown) {
    padding-top: 14px;
    padding-bottom: 2px;
  }
  
  .bottom{
    display: flex;
    margin:1.5rem 0;
    /* width: 17rem; */
    /* height: 2rem; */
  }
  img{
    margin-left: 3px;
    /* width:50%; */
    height:3em;    
  }
  .otherlogin{ 
    font-weight: bold;
    margin-left: 4px;
  }

  .login-button:disabled{
    background-color: #c0dffd;
  }
  .login-button {
    margin-top:0.5rem;
    text-align: center;
    width: 100%;
    padding: 0.2rem;
    border: 1px solid transparent;
    background-color: #0095f6;
    border-radius: 4px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
  }
  
  .separator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    margin-top: 10px;
  }
  
  .separator .line {
    height: 1px;
    width: 40%;
    background-color: #ededed;
  }
  
  .other {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .fb-login-btn {
    margin-top: 2rem;
    border: 0;
    cursor: pointer;
    font-size: 14px;
    color: #385185;
    font-weight: 600;
    background: transparent;
  }
  
  .fb-icon {
    color: #385185;
    font-size: 1rem;
    padding-right: 1px;
  }
  
  .forgot-password {
    margin-top:2em;
    font-size: 12px;
    font-weight: 400;
    color: #003569;
  }
  
  .signup {
    color: #3897f0;
    font-weight: 600;
  }
  input::placeholder {
    visibility: hidden;
  }
