.css body {
  font-family: sans-serif;
  background-color: #fafafa;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}
.passdiv {
  border: 1px solid #d3d3d3;
  border-radius: 3.5px;
}
.para {
  margin: auto;
  font-size: 14px;
  font-weight: bolder;
}
a {
  text-decoration: none;
}
#username {
  /* border:1px solid black; */
  width: 24rem;
  padding-left: 0.78em;
  height: 3.5rem;
  font-size: 1em;
  border-radius: 2px;
}
#password {
  height: 3.5rem;
  width: 20rem;
  padding-left: 1em;

  border: none;
  background: #fafafa;
}

.container {
  max-width: 1000px;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.c2 {
  padding-top: 0.7rem;
}
.b11 {
  height: 7rem;
  margin-bottom: 10px;
  font-size: 19px;
  font-weight: 400;
}
.boxx {
  padding: 0;
  width: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fffefe;
  border: 1px solid #dadadb;
  border-radius: 1px;
  flex-grow: 1;
}
.upperr {
  margin-top: 6rem;
  height: 40em;
  margin-bottom: 10px;
}

.h2 {
  margin: 0px 0 0.5rem;
}
.heading {
  background-image: url("https://www.instagram.com/static/bundles/es6/sprite_core_b20f2a3cd7e4.png/b20f2a3cd7e4.png");
  background-position: -8px 0;
  height: 70px;
  width: 300px;

  margin-bottom: 3rem;
}

.field {
  height: 4rem;
  margin: 8px 0;
  position: relative;

  text-overflow: ellipsis;
}

input {
  font-size: 14px;

  outline: none;
  background: #fafafa;
  border-radius: 3px;
  border: 1px solid lightgray;
}
input:focus,
.passdiv:focus {
  border: 1px solid gray;
}

.labell {
  position: absolute;
  pointer-events: none;
  left: 10px;
  margin-top: 5px;
  transform: translateY(10px);
  line-height: 6px;
  transition: all ease-out 0.1s;

  color: #9e9e9f;
  padding-top: 5px;
  font-weight: 450;
  font-size: 16px;
}

input::placeholder {
  visibility: hidden;
}
.login-form {
  margin-bottom: 4rem;
}
.login-form ::-moz-placeholder {
  color: transparent;
}

input:not(:placeholder-shown) + label {
  transform: translateY(0);
  font-size: 11px;
}

input:not(:placeholder-shown) {
  padding-top: 24px;
  padding-bottom: 2px;
}

.bottom {
  display: flex;
  margin: 1.5rem 0;
}
img {
  margin-left: 3px;
  height: 9rem;
}
.otherlogin {
  font-weight: bold;
  margin-left: 4px;
}

.login-button:disabled {
  background-color: #c0dffd;
}
.login-button {
  margin-top: 0.5rem;
  text-align: center;
  width: 100%;
  height: 2.6rem;
  padding: 0.2rem;
  border: 1px solid transparent;
  background-color: #0095f6;
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
  /* font-size: 17px; */
  cursor: pointer;
  /* margin-bottom: 0px; */
}

.separator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  margin-top: 10px;
}

.separator .line {
  height: 1px;
  width: 40%;
  background-color: #ededed;
}

.other {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.fb-login-btn {
  margin-top: 2rem;
  border: 0;
  cursor: pointer;
  font-size: 14px;
  color: #385185;
  font-weight: 600;
  background: transparent;
}

.fb-icon {
  color: #385185;
  font-size: 1rem;
  padding-right: 1px;
}

.forgot-password {
  margin-top: 2em;
  font-size: 12px;
  font-weight: 400;
  color: #003569;
}

.signup {
  color: #3897f0;
  font-weight: 600;
}
input::placeholder {
  visibility: hidden;
}
