*{
    margin: 0;
    padding: 0;
}
.App{
    background-color: #fafafa;
    height: 100vh;
}
.app_header{

object-fit: contain;
background-color: white;
padding: 20px;
border-bottom: 1px solid lightgrey;
display: flex;
justify-content:space-between

}
.app_headerImage{
    width: 15%;
    object-fit: contain;
    
}
.search_bar{
    border: 1px solid black;
    width: 14%;
    border-radius: 10px;
    height: 20px;
}