body {
  font-family: sans-serif;
  
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  
}



.login-button {
  text-align: center;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid transparent;
  background-color: #3897f0;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}
*{
    margin: 0;
    padding: 0;
}
.App{
    background-color: #fafafa;
    height: 100vh;
}
.separator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #999;
  margin-top: 6px;
}

.separator .line {
  height: 1px;
  width: 40%;
  background-color: #dbdbdb;
}

.other {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.fb-login-btn {
  margin: 1rem;
  border: 0;
  cursor: pointer;
  font-size: 14px;
  color: #385185;
  font-weight: 600;
  background: transparent;
}

.fb-icon {
  color: #385185;
  font-size: 1rem;
  padding-right: 1px;
}

.forgot-password {
  font-size: 11px;
  color: #003569;
}

.signup {
  color: #3897f0;
  font-weight: 600;
}
input::placeholder {
  visibility: hidden;
object-fit: contain;
background-color: white;
padding: 20px;
border-bottom: 1px solid lightgrey;
display: flex;
justify-content:space-between

}
.app_headerImage{
    width: 15%;
    object-fit: contain;
    
}
.search_bar{
    border: 1px solid black;
    width: 14%;
    border-radius: 10px;
    height: 20px;
}
#light{
  background-color: #f3ebf6;
}
#dark{
  background-color: black;
}